version: "3"

services:
  db:
    image: mysql
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
  
  chat-service:
    image: hienpham95/chat-web-api
    ports:
      - "5000:80"
    build:
      context: ./chat-services
      dockerfile: Dockerfile
    environment:
      ConnectionStrings__DefaultConnection: ${CHAT_SERVICE_DB_CONNECTION}
      IdentityServerOptions__Authority: ${IDENTITY_SERVER_AUTHORITY}
      RedisSettings__Host: redis
      RedisSettings__Password: ${REDIS_PASSWORD}
    depends_on:
      - db
      - redis

  identity-service:
    image: hienpham95/chat-identity-service
    ports:
      - "5001:80"
    build:
      context: ./identity-server
      dockerfile: Dockerfile
    environment:
      NamedHttpClientFactories__0__BaseAddress: ${CHAT_SERVICE_HOST}
      ConnectionStrings__DefaultConnection: ${IDENTITY_SERVICE_DB_CONNECTION}
      ClientConfigs__BaseAddress: ${CLIENT_HOST}
      ExternalAuthenticationSettings__GoogleClientId: ""
      ExternalAuthenticationSettings__GoogleClientSecret: ""
      ExternalAuthenticationSettings__FbClientId: ""
      ExternalAuthenticationSettings__FbClientSecret: ""
      IsDevelopment: "true"

    depends_on:
      - db
  
  redis:
    image: redis
    ports:
      - "6379:6379"
    command: ${REDIS_SERVER_COMMAND}
    hostname: redis
    volumes:
      - redis_data:/data

volumes:
  db_data:
  redis_data:
